.a{
    height:4306px;
    width: 3832px;
    border: 2px solid black;
    margin:20px;
   
}
.b{
    height:2868px;
    width:2062px;
    border: 2px solid black;
    margin:20px;
}

img{
    width: 100%;
}