section{
    margin-top: 50px;
}
div{
    height: 100px;
    width: 250px;
    background-color: lightgreen;
    text-align: center;
    margin: 20px auto;
}
div:nth-last-child(2n){
    background-color: lightpink;
}
div:nth-last-child(3n){
    background-color: orange;
}

#one{
    transform: rotate(2deg);
}
#two{
    /* transform: scale(0.5,0.5); */
    transform: scaleX(1.5);
}
#three0{
    /* transform: translate(100px,100px); */
    transform: translateY(-100px);
}
#four{
    transform: skew(30deg);
}
#five{
    transform: rotate(20deg) translate(50px,50px) ;
}